<!DOCTYPE html>
<html lang="en"> 
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-22169554-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-22169554-1');
    </script>

    <title>{{ title }} | {{ site.title }}</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}" />
    <meta name="author" content="{{ site.author }}" />
    
    <!-- FontAwesome JS-->
	  <script defer src="/assets/fontawesome/js/all.min.js"></script>
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="/assets/css/theme-6.css">

</head> 

<body>
    
    <header class="header text-center">	    
	    <h1 class="blog-name pt-lg-4 mb-0"><a href="/index.html">Halil İbrahim Kalkan</a></h1>
        
	    <nav class="navbar navbar-expand-lg navbar-dark" >
           
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column" >
				<div class="profile-section pt-3 pt-lg-0">
				    <img class="profile-image mb-3 rounded-circle mx-auto" src="/assets/images/halil-ibrahim-kalkan-profile-picture.jpg" alt="image" >			
					
					<div class="bio mb-3">
						Co-founder of <a href="https://volosoft.com/" target="_blank">Volosoft</a>.
						The lead architect & developer behind the <a href="https://abp.io/" target="_blank">ABP Framework</a>.
						Author of the book <a href="https://www.amazon.com/Mastering-ABP-Framework-maintainable-implementing-dp-1801079242/dp/1801079242" target="_blank">Mastering ABP Framework</a>.
					</div><!--//bio-->
					<ul class="social-list list-inline py-3 mx-auto">
			            <li class="list-inline-item"><a href="https://twitter.com/hibrahimkalkan" target="_blank"><i class="fab fa-twitter fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="https://github.com/hikalkan" target="_blank"><i class="fab fa-github-alt fa-fw" target="_blank"></i></a></li>
			            <li class="list-inline-item"><a href="https://www.linkedin.com/in/halil-ibrahim-kalkan-3252a036/" target="_blank"><i class="fab fa-linkedin-in fa-fw" target="_blank"></i></a></li>
			        </ul><!--//social-list-->
			        <hr> 
				</div><!--//profile-section-->
				
				<ul class="navbar-nav flex-column text-left">
					<li class="nav-item">
					    <a class="nav-link" href="/"><i class="fas fa-home fa-fw mr-2"></i>Home</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="/projects"><i class="fas fa-project-diagram fa-fw mr-2"></i>Projects</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="/books"><i class="fas fa-book fa-fw mr-2"></i>Books</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="/articles"><i class="fas fa-file-alt fa-fw mr-2"></i>Articles</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="/talks"><i class="fas fa-microphone-alt fa-fw mr-2"></i>Talks</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="/about-me"><i class="fas fa-user fa-fw mr-2"></i>About Me</a>
					</li>
				</ul>
			</div>
		</nav>
    </header>
    
    <div class="main-wrapper">
	    
      {{ content }}
      
    </div><!--//main-wrapper-->    
       
    <!-- Javascript -->          
    <script src="/assets/plugins/jquery-3.4.1.min.js"></script>
    <script src="/assets/plugins/popper.min.js"></script> 
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
    
</body>
</html> 

